__pycache__
/config
.vscode
.idea
.venv
venv*
test.py
.env
.qoder
nul
.trae
tests/*
./scripts
.pytest_cache
*/.venv
.trae
old_project
backend/tests
backend/data/*.db.*
backend/data/*.db*
backend/data/cache
docs
backend/data/sync/*
.dbg
