fastapi==0.115.12
uvicorn[standard]==0.34.2
pydantic[email]==2.13.4
email-validator==2.3.0
pydantic-settings==2.10.1
SQLAlchemy==2.0.41
alembic==1.16.1
python-jose[cryptography]==3.5.0
bcrypt==4.3.0
python-multipart==0.0.20
requests==2.32.3
treelib==1.7.1
natsort==8.4.0
cachetools==5.5.2
rsa==4.9.1
APScheduler==3.10.4
guessit==3.8.0
emoji==2.12.1
